{
  "presets": [
    ["env", {
      "browsers": ["last 2 versions"],
      "modules": false
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-class-properties"
  ]
}
