{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "test": "./test"
      }
    }]
  ]
}
